<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
        <button id="thisWeekButton" class="inline-block thisweekButton">今 週</button>
    </div>
    <table class="reservation_table">
        <thead>
            <tr id="week">
                <th class="th_left_col fixed0"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                <th class="table_header fixed0" id="w<%= i %>"></th>
                <% } %>
            </tr>
            <tr id="date">
                <th class="th_left_col fixed1"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                    <th class="table_header fixed1" id="d<%= i %>"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<11; i++){ %>
                <tr id="time<%= 9+i %>">
                    <td class="td_left_col"><%= 9+i %>:00</td>
                    <% for (let j=0; j<7; j++){ %>
                    <td class="table_element" id="d<%= j %>-<%= 9+i %>"></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>        
    </table>
</div>

<div id="dialog">
    <p id="contents"></p>
    <button id="button-cancel">キャンセル</button>
    <button id="button-ok">OK</button>
</div>

<script src='js/main.js'></script>
</body>
</html>