<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="registrationButton" class="inline-block registration">新規登録</button>
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
        <button id="thisWeekButton" class="inline-block thisweekButton">今 週</button>
    </div>
    <table class="reservation_table">
        <thead>
            <tr id="week">
                <th class="th_left_col fixed0"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                <th class="table_header fixed0" id="w<%= i %>"></th>
                <% } %>
            </tr>
            <tr id="date">
                <th class="th_left_col fixed1"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                    <th class="table_header fixed1" id="d<%= i %>"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<11; i++){ %>
                <tr id="time<%= 9+i %>">
                    <td class="td_left_col"><%= 9+i %>:00</td>
                    <% for (let j=0; j<7; j++){ %>
                    <td class="table_element" id="d<%= j %>-<%= 9+i %>"></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>        
    </table>
</div>

<!-- <div id="dialog">
    <button id="button-edit">編集</button>
    <p id="contents"></p>
    <button id="button-cancel">キャンセル</button>
    <button id="button-ok">OK</button>
</div> -->

<div id="dialog">
    <h2>予約内容確認</h2>
    <form action="/api/todos" method="post" id="registration-form">
        <p>LINE ID:<input type="text" id="line_uid" name="line_uid" disabled></p>
        <p>名前:<input type="text" id="name" name="name"></p>
        <div>
            <select name="year" class="select-year">
                <% for(let i=0; i<4; i++){ %>
                    <option value="<%= new Date().getFullYear()-1+i %>" <% if(i===1){ %>selected="selected"<% } %>><%= new Date().getFullYear()-1+i %></option>
                <% } %>
            </select>
            年
            <select name="date_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i+1 %>" <% if(i=== new Date().getMonth()){ %>selected="selected"<% } %>><%= ('0'+(i+1)).slice(-2) %></option>
                <% } %>
            </select>
            月
            <select name="date_d" class="select-date">
                <% for(let i=0; i<31; i++){ %>
                    <option value="<%= i+1 %>">
                        <%= ('0'+(i+1)).slice(-2) %>
                    </option>
                <% } %>
            </select>
            日
        </div>
        <div class="menu">
            <p>メニュー:
                <select name="menu">
                    <option value="cut" selected>カット</option>
                    <option value="cut&shampoo">カット＆シャンプー</option>
                    <option value="color">カラーリング</option>
                </select>
            </p>
        </div>
        <div>
            <select name="starttime_h" class="select-date">
                <% for(let i=0; i<11; i++){ %>
                    <option value="<%= 9+i %>"><%= ('0'+(9+i)).slice(-2) %></option>
                <% } %>
            </select>
            時
            <select name="starttime_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i*5 %>"><%= ('0'+(i*5)).slice(-2) %></option>
                <% } %>
            </select>
            分
        </div>
        <div>            
            <input type="submit" value="送信" class="submit" id="form-submit">
        </div>
    </form>
    <button id="cancel-form">キャンセル</button>
</div>

<div id="registration">
    <h2>予約新規作成</h2>
    <form action="/api/todos" method="post" id="registration-form">
        <p>LINE ID:<input type="text" id="line_uid" name="line_uid"></p>
        <p>名前:<input type="text" id="name" name="name"></p>
        <div>
            <select name="year" class="select-year">
                <% for(let i=0; i<4; i++){ %>
                    <option value="<%= new Date().getFullYear()-1+i %>" <% if(i===1){ %>selected="selected"<% } %>><%= new Date().getFullYear()-1+i %></option>
                <% } %>
            </select>
            年
            <select name="date_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i+1 %>" <% if(i=== new Date().getMonth()){ %>selected="selected"<% } %>><%= ('0'+(i+1)).slice(-2) %></option>
                <% } %>
            </select>
            月
            <select name="date_d" class="select-date">
                <% for(let i=0; i<31; i++){ %>
                    <option value="<%= i+1 %>">
                        <%= ('0'+(i+1)).slice(-2) %>
                    </option>
                <% } %>
            </select>
            日
        </div>
        <div class="menu">
            <p>メニュー:
                <select name="menu">
                    <option value="cut" selected>カット</option>
                    <option value="cut&shampoo">カット＆シャンプー</option>
                    <option value="color">カラーリング</option>
                </select>
            </p>
        </div>
        <div>
            <select name="starttime_h" class="select-date">
                <% for(let i=0; i<11; i++){ %>
                    <option value="<%= 9+i %>"><%= ('0'+(9+i)).slice(-2) %></option>
                <% } %>
            </select>
            時
            <select name="starttime_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i*5 %>"><%= ('0'+(i*5)).slice(-2) %></option>
                <% } %>
            </select>
            分
        </div>
        <div>            
            <input type="submit" value="送信" class="submit" id="form-submit">
        </div>
    </form>
    <button id="cancel-form">キャンセル</button>
</div>

<div id="editor">
    <h2>予約編集</h2>
    <form action="/api/todos" method="post" id="registration-form">
        <p>LINE ID:<input type="text" id="line_uid" name="line_uid"></p>
        <p>名前:<input type="text" id="name" name="name"></p>
        <div>
            <select name="year" class="select-year">
                <% for(let i=0; i<4; i++){ %>
                    <option value="<%= new Date().getFullYear()-1+i %>" <% if(i===1){ %>selected="selected"<% } %>><%= new Date().getFullYear()-1+i %></option>
                <% } %>
            </select>
            年
            <select name="date_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i+1 %>" <% if(i=== new Date().getMonth()){ %>selected="selected"<% } %>><%= ('0'+(i+1)).slice(-2) %></option>
                <% } %>
            </select>
            月
            <select name="date_d" class="select-date">
                <% for(let i=0; i<31; i++){ %>
                    <option value="<%= i+1 %>">
                        <%= ('0'+(i+1)).slice(-2) %>
                    </option>
                <% } %>
            </select>
            日
        </div>
        <div class="menu">
            <p>メニュー:
                <select name="menu">
                    <option value="cut" selected>カット</option>
                    <option value="cut&shampoo">カット＆シャンプー</option>
                    <option value="color">カラーリング</option>
                </select>
            </p>
        </div>
        <div>
            <select name="starttime_h" class="select-date">
                <% for(let i=0; i<11; i++){ %>
                    <option value="<%= 9+i %>"><%= ('0'+(9+i)).slice(-2) %></option>
                <% } %>
            </select>
            時
            <select name="starttime_m" class="select-date">
                <% for(let i=0; i<12; i++){ %>
                    <option value="<%= i*5 %>"><%= ('0'+(i*5)).slice(-2) %></option>
                <% } %>
            </select>
            分
        </div>
        <div>            
            <input type="submit" value="送信" class="submit" id="form-submit">
        </div>
    </form>
    <button id="cancel-form">キャンセル</button>
</div>

<script src='js/main.js'></script>
</body>
</html>