<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="registrationButton" class="inline-block registration">新規登録</button>
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
        <button id="thisWeekButton" class="inline-block thisweekButton">今 週</button>
    </div>
    <table class="reservation_table">
        <thead>
            <tr id="week">
                <th class="th_left_col fixed0"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                <th class="table_header fixed0" id="w<%= i %>"></th>
                <% } %>
            </tr>
            <tr id="date">
                <th class="th_left_col fixed1"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                    <th class="table_header fixed1" id="d<%= i %>"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<11; i++){ %>
                <tr id="time<%= 9+i %>">
                    <td class="td_left_col"><%= 9+i %>:00</td>
                    <% for (let j=0; j<7; j++){ %>
                    <td class="table_element" id="d<%= j %>-<%= 9+i %>"></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>        
    </table>
</div>

<div id="dialog">
    <button id="button-edit">編集</button>
    <p id="contents"></p>
    <button id="button-cancel">キャンセル</button>
    <button id="button-ok">OK</button>
</div>

<div id="registration">
    <h2>予約新規作成</h2>
    <form action="/api/todos" method="post" id="registration-form">
    <!-- <form action="/api/todos" method="post" id="registration-form" onsubmit="return false"> -->
        <p>LINE ID:<input type="text" id="line_uid" name="line_uid"></p>
        <p>名前:<input type="text" id="name" name="name"></p>
        <div>
            <select name="year" class="select-year">
                <% for(let i=0; i<4; i++){ %>
                    <option value="<%= new Date().getFullYear()-1+i %>" <% if(i===1){ %>selected="selected"<% } %>><%= new Date().getFullYear()-1+i %></option>
                <% } %>
                <!-- <option value="2020" selected="selected">2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option> -->
            </select>
            年
            <select name="date_m" class="select-date">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6" selected="selected">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            月
            <select name="date_d" class="select-date">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            日
        </div>
        <!-- <p><input type="text" id="year" name="year" size="6" maxlength="4"> 年 <input type="text" id="date_m" name="date_m" size="4" maxlength="2"> 月 <input type="text" id="date_d" name="date_d" size="4" maxlength="2"> 日</p> -->
        <div class="menu">
            <p>メニュー:
                <select name="menu">
                    <option value="cut" selected>カット</option>
                    <option value="cut&shampoo">カット＆シャンプー</option>
                    <option value="color">カラーリング</option>
                </select>
            </p>
        </div>
        <div>
            <select name="starttime_h" class="select-date">
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
            </select>
            時
            <select name="starttime_m" class="select-date">
                <option value="0">00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
            分
        </div>
        <!-- <p>時間：<input type="text" id="starttime_h" name="starttime_h"  size="4" maxlength="2"> 時 <input type="text" id="starttime_m" name="starttime_m"  size="4" maxlength="2"> 分</p> -->
        <div>            
            <input type="submit" value="送信" class="submit" id="form-submit">
        </div>
    </form>
    <!-- <button type="button" id="form-submit" class="submit">送信</button> -->
    <button id="cancel-form">キャンセル</button>
</div>

<div id="editor">
    <h2>予約編集</h2>
    <form action="/api/todos" method="post" id="registration-form">
    <!-- <form action="/api/todos" method="post" id="registration-form" onsubmit="return false"> -->
        <p>LINE ID:<input type="text" id="line_uid" name="line_uid"></p>
        <p>名前:<input type="text" id="name" name="name"></p>
        <div>
            <select name="year" class="select-year">
                <option value="2020" selected="selected">2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
            </select>
            年
            <select name="date_m" class="select-date">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6" selected="selected">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            月
            <select name="date_d" class="select-date">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            日
        </div>
        <!-- <p><input type="text" id="year" name="year" size="6" maxlength="4"> 年 <input type="text" id="date_m" name="date_m" size="4" maxlength="2"> 月 <input type="text" id="date_d" name="date_d" size="4" maxlength="2"> 日</p> -->
        <div class="menu">
            <p>メニュー:
                <select name="menu">
                    <option value="cut" selected>カット</option>
                    <option value="cut&shampoo">カット＆シャンプー</option>
                    <option value="color">カラーリング</option>
                </select>
            </p>
        </div>
        <div>
            <select name="starttime_h" class="select-date">
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
            </select>
            時
            <select name="starttime_m" class="select-date">
                <option value="0">00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
            分
        </div>
        <!-- <p>時間：<input type="text" id="starttime_h" name="starttime_h"  size="4" maxlength="2"> 時 <input type="text" id="starttime_m" name="starttime_m"  size="4" maxlength="2"> 分</p> -->
        <div>            
            <input type="submit" value="送信" class="submit" id="form-submit">
        </div>
    </form>
    <!-- <button type="button" id="form-submit" class="submit">送信</button> -->
    <button id="cancel-form">キャンセル</button>
</div>

<script src='js/main.js'></script>
</body>
</html>