<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
        <button id="thisWeekButton" class="inline-block thisweekButton">今 週</button>
    </div>
    <table>
        <tr id="week">
            <td></td>
            <% for ( let i=0; i<7 ;i++ ){ %>
            <td id="w<%= i %>"></td>
            <% } %>
        </tr>
        <tr id="date">
            <td></td>
            <% for ( let i=0; i<7 ;i++ ){ %>
                <td id="d<%= i %>"></td>
            <% } %>
        </tr>
        <% for (let i=0; i<11; i++){ %>
            <tr id="time<%= 9+i %>">
                <td><%= 9+i %>:00</td>
                <% for (let j=0; j<7; j++){ %>
                <td id="d<%= j %>-<%= 9+i %>" class="e">ほげ</td>
                <% } %>
            </tr>
        <% } %>
    </table>
</div>

<script src='js/main.js'></script>
</body>
</html>