<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
        <button id="thisWeekButton" class="inline-block thisweekButton">今 週</button>
    </div>
    <table class="reservation_table">
        <thead>
            <tr id="week">
                <th class="th_left_col"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                <th class="table_header" id="w<%= i %>"></th>
                <% } %>
            </tr>
            <tr id="date">
                <th class="th_left_col"></th>
                <% for ( let i=0; i<7 ;i++ ){ %>
                    <th class="table_header" id="d<%= i %>"></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<11; i++){ %>
                <tr id="time<%= 9+i %>">
                    <td class="td_left_col"><%= 9+i %>:00</td>
                    <% for (let j=0; j<7; j++){ %>
                    <td class="table_element" id="d<%= j %>-<%= 9+i %>"></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>        
    </table>
    <!--- スクロールバー --->
    <div class="sBar" id="sNone"></div>
    <div class="sBar" id="sDOWN"  onmousedown="sMouse('U')" onmouseup="sStop()" onmouseout="sStop()"></div>
    <div class="sBar" id="sUP"    onmousedown="sMouse('D')" onmouseup="sStop()" onmouseout="sStop()"></div>
    <div class="sBar" id="sRIGHT" onmousedown="sMouse('L')" onmouseup="sStop()" onmouseout="sStop()"></div>
    <div class="sBar" id="sLEFT"  onmousedown="sMouse('R')" onmouseup="sStop()" onmouseout="sStop()"></div>
    <!--- スクロールバーー隅の三角マーク --->
    <svg class="sImg" id="iDOWN"  onmousedown="sMouse('U')" onmouseup="sStop()" onmouseout="sStop()"><path d="M0  0 L10  0 L5   7 Z" style="fill:#777"/></svg>
    <svg class="sImg" id="iUP"    onmousedown="sMouse('D')" onmouseup="sStop()" onmouseout="sStop()"><path d="M5  3 L0  10 L10 10 Z" style="fill:#777"/></svg>
    <svg class="sImg" id="iRIGHT" onmousedown="sMouse('L')" onmouseup="sStop()" onmouseout="sStop()"><path d="M0  0 L7   5 L0  10 Z" style="fill:#777"/></svg>
    <svg class="sImg" id="iLEFT"  onmousedown="sMouse('R')" onmouseup="sStop()" onmouseout="sStop()"><path d="M10 0 L3   5 L10 10 Z" style="fill:#777"/></svg>

</div>

<script src='js/main.js'></script>
</body>
</html>