<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="calendar">
    <div id="inlineArea">
        <button id="rButton" class="inline-block changeButton"><</button>
        <h2 id="monthArea" class="inline-block"></h2>
        <button id="pButton" class="inline-block changeButton">></button>
    </div>
    <table>
        <tr id="week">
            <td></td>
            <td id="w0" title=""></td>
            <td id="w1" title=""></td>
            <td id="w2" title=""></td>
            <td id="w3" title=""></td>
            <td id="w4" title=""></td>
            <td id="w5" title=""></td>
            <td id="w6" title=""></td>   
        </tr>
        <tr id="date">
            <td></td>
            <td id="d0" title=""></td>
            <td id="d1" title=""></td>
            <td id="d2" title=""></td>
            <td id="d3" title=""></td>
            <td id="d4" title=""></td>
            <td id="d5" title=""></td>
            <td id="d6" title=""></td>   
        </tr>
        <tr id="time9">
            <td>9:00〜</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
        <tr id="time10">
            <td>10:00〜</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
    </table>
</div>

<!-- <h1>予約管理画面</h1>
<% reservationsData.forEach((item)=>{ %>
    <li><%= item.id %>:<%= item.name %>:<%= item.scheduledate %>:<%= item.starttime %>〜<%= item.endtime %></li>
<% }); %> -->

<script src='js/main.js'></script>
</body>
</html>